<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>homebrew.gpg.gpg-agent</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>-c</string>
{{- if and (eq .chezmoi.os "darwin") (ne .chezmoi.arch "arm64") }}
    <string>GNUPGHOME=$HOME/.gnupg /usr/local/bin/gpgconf --launch gpg-agent</string>
{{- end  }}
{{- if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") }}
    <string>GNUPGHOME=$HOME/.gnupg /opt/homebrew/bin/gpgconf --launch gpg-agent</string>
{{- end  }}
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
