{
    "editor.fontFamily": "Hack Nerd Font",
    "terminal.external.osxExec": "iTerm.app",
    "terminal.integrated.shell.osx": "/bin/zsh",
    "terminal.integrated.defaultProfile.linux": "zsh",
    "terminal.integrated.fontFamily": "Hack Nerd Font",
    "terminal.integrated.customGlyphs": false,
    "terminal.integrated.fontSize": 12,
    "terminal.integrated.fontWeight": "normal",
    "workbench.colorCustomizations": {
        "terminal.ansiBlack": "#000000",
        "terminal.ansiBrightBlack": "#676767",
        "terminal.ansiRed": "#ff6f8d",
        "terminal.ansiBrightRed": "#ff7894",
        "terminal.ansiGreen": "#93ff8d",
        "terminal.ansiBrightGreen": "#9aff95",
        "terminal.ansiYellow": "#fffc9b",
        "terminal.ansiBrightYellow": "#fffda9",
        "terminal.ansiBlue": "#a198ff",
        "terminal.ansiBrightBlue": "#aea6ff",
        "terminal.ansiMagenta": "#ff95df",
        "terminal.ansiBrightMagenta": "#ffa2e3",
        "terminal.ansiCyan": "#95dfff",
        "terminal.ansiBrightCyan": "#a5def7",
        "terminal.ansiWhite": "#c7c7c7",
        "terminal.ansiBrightWhite": "#feffff",
        "terminal.foreground": "#eaeaea",
        "terminal.background": "#16181f",
        "terminal.selectionBackground": "#55596d",
        "terminal.selectionForeground": "#55596d",
        "terminalCursor.background": "#c7c7c7",
        "terminalCursor.foreground": "#c7c7c7",
    }
}
