# Options for GnuPG-Agent
# Copyright 1998, 1999, 2000, 2001, 2002, 2003,
#           2010 Free Software Foundation, Inc.
# Prompt for password only once
enable-ssh-support
max-cache-ttl 1800
default-cache-ttl 600
max-cache-ttl-ssh 600
{{ if and (eq .chezmoi.os "darwin") (ne .chezmoi.arch "arm64")  -}}
pinentry-program /usr/local/bin/pinentry-mac
{{- end  }}
{{- if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")  -}}
pinentry-program /opt/homebrew/bin/pinentry-mac
{{ end  -}}
